* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#messenger-content {
  opacity: 0;
  display: none;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.messenger-content-show {
  display: block;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.messenger-content-hide {
  animation-name: fade-out;
}

.messenger-content {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 400px;
  height: 600px;
  background-color: #6b7280;
  border-radius: 15px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  z-index: 1;
}
.messenger-header {
  padding: 15px;
  background: url("https://code-jvs1.jivosite.com/images/pattern/2.svg");
  height: 80px;
  background-color: #4caf50;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  justify-content: space-between;
  align-items: center;
}

.message-input {
  bottom: 10px;
  width: 325px;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
}

.send-button {
  margin:auto;
  width: 50px;
  height: 50px;
  background-color: #5c5cd6;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
}
.send-button-icon{
  margin: auto;
}

.message-content {
  height: 450px;
  overflow-y: scroll;
  padding: 5px;
  padding-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden; /* Добавлено */
}
.user-message {
  background-color: #5c5cd6;
  color: white;
  text-align: right;
  align-self: flex-end;
  border-radius: 12px;
  padding: 10px;
  float: right;
  max-width: 55ch;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.chatgpt-response {
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 10px;
  float: left;
  max-width: 55ch;
  margin-bottom: 10px;
  justify-content: end;
  margin-right: 40px;
  word-wrap: break-word;
}



.messenger-body {
  height: 520px;
  position: relative;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  background: white;
  border-radius: 15px;
}
.input-container {
  position: absolute;
  bottom:10px;
  padding: 5px;
  width: 100%;
  border-top: 1px solid lightgrey;
}
.messenger-close {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding-bottom: 2px;
  font-size: 25px;
}

.messenger-close:hover {
  color: #f1f1f1;
}
