* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#messenger-content {
  opacity: 0;
  display: none;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.messenger-content-show {
  display: block;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.messenger-content-hide {
  animation-name: fade-out;
}

.messenger-content {
  position: fixed;
  bottom: 38px;
  right: 30px;
  width: 340px;
  height: 500px;
  background-color: #8a909d;
  border-radius: 15px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  z-index: 1;
}

.messenger-header {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: url("https://code-jvs1.jivosite.com/images/pattern/2.svg");
  height: 65px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-input {
  bottom: 10px;
  max-width: 325px;
  width: 325px;
  height: 50px;
  max-height: 100px;
  resize: none;
  padding: 10px;
  border-radius: 25px;
  /* word-wrap: break-word; */
  /* word-break: break-all; */
  hyphens: auto;
  /* white-space: pre-wrap; */
  outline: none;
  scroll-behavior: smooth;
  overflow: hidden;
}

.send-button {
  margin:auto;
  width: 45px;
  height: 40px;
  background-color: #5c5cd6;
  border-radius: 50%;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
}
.send-button:disabled{
  opacity: .6;
}
.send-button-icon{
  margin: auto;
}

.message-content {
  height: 280px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  padding: 5px;
  padding-bottom: 10px;
}  
.message-content::-webkit-scrollbar {
    width: 5px;
  }

.message-content::-webkit-scrollbar-track {
    background: transparent;
  }

.message-content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(140, 146, 158);
    border: 1px solid rgb(140, 146, 158);
  }
/* .message-content::-webkit-scrollbar{
  width: 0;
  background-color: transparent;
} */

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 13px;
  overflow: hidden; /* Добавлено */
}
.user-message {
  background-color: #5c5cd6;
  color: white;
  text-align: left;
  border-radius: 13px;
  font-size: 14px;
  padding: 10px;
  float: right;
  max-width: 290px;
  margin-top: 10px;
  /* word-wrap: break-word; */
  /* word-break: break-all; */
  hyphens: auto;
  border-bottom-right-radius: 1px;
}

.chatgpt-response {
  border-bottom-left-radius: 1px!important;
  background-color: #f2f2f2;
  font-size: 14px;
  border-radius: 13px;
  padding: 6px;
  float: left;
  max-width: 250px;
  margin-bottom: 10px;
  justify-content: end;
  margin-right: 40px;
  text-align: left;
  /* word-wrap: break-word; */
  /* word-break: break-all; */
  hyphens: auto;
}

.messenger-body {
  height: 420px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  background: white;
  border-radius: 15px;
}
.input-container {
  position: absolute;
  bottom: 0;
  padding: 4px 5px 5px 5px;
  background: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 11;
  width: 100%;
  border-top: 1px solid #ECEFF1;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}
.messenger-close {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border: none;
  height: 35px;
  width: 35px;
  margin-top: 4px;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 4px;
}

.messenger-close:hover {
  color: #f1f1f1;
}
