.tag{
    fill: gray;
    box-shadow: inset 0 0 0 1px lightgrey;
    align-items: center;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 16px;
    display: flex;
    width: fit-content;
}
.tag:not(:first-child){
    margin-top: 8px;
}
.tags-button{
    display: flex;
    flex-direction: row;
    border: none;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: inherit;
}
.tagTextContent{
    text-align: initial;
    width: 100%;
    word-break: break-all;
}
