.tags-button{
    text-align: left;
    padding: 7px 14px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    border: none;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: inherit;
    fill: gray;
    box-shadow: inset 0 0 0 1px lightgrey;
}
.tags-button span{
    text-align: right;
}