.tag{
    fill: gray;
    box-shadow: inset 0 0 0 1px lightgrey;
    align-items: center;
    padding: 7px 10px;
    font-size: 12px;
    border-radius: 13px;
    display: flex;
    max-width: 290px;
    width: fit-content;
    border-bottom-left-radius: 1px;
}
.tag:not(:first-child){
    margin-top: 12px;
}
.tags-button{
    display: flex;
    flex-direction: row;
    border: none;
    gap: 2px;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: inherit;
}
.tagTextContent{
    text-align: initial;
    width: 100%;
    /* word-break: break-all; */
    hyphens: auto;
}
