@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill {
  background: white;
}
.messenger-container {
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  right: 50px;
}

#messenger-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.messenger-button {
  background-color: #5c5cd6;
  color: white;
  height: 70px;
  width: 70px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .messenger-button {
    height: 50px;
    width: 50px;
  }

  .chat-img {
    text-align: center;
    height: 35px;
    width: 35px;
  }
}

.chat-img {
  height: 45px;
  margin: auto;
  text-align: center;
  align-items: center;
}
